{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/login-one.css' %}">
    <script src="{% static 'assets/js/login-one.js' %}" defer></script>
    <link rel="shortcut icon" href="{% static 'assets/img/logotipo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nanny's Pets</title>
</head>
<body>
    <main class="page-full">
            <form method="post" class="card-login">
                {% csrf_token %}
                <div class="conteudo">
                    <img src="{% static 'assets/img/logo-one.png' %}" alt="Logo do Nanny's Pets">
                    <div class ="title-input">
                        <h3>Usuário</h3>
                        <input class = "caixa-texto" name="username"  type="text" placeholder="Digite seu Username">
                    </div>
                    <div class ="title-input">
                        <h3>Senha</h3>
                        <input class = "caixa-texto" name="password" type="password" placeholder="Digite sua Senha">
                    </div>
                    <div class="links">
                        <a class="link">Esqueci minha senha</a>
                        <a class="link" href="/cadastro" id="cadastrar">Quero me cadastrar</a>
                    </div>
                    <button type="submit" class="logar">Entrar</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
    </main>
    
</body>
</html>