{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/register.css' %}">
    <script src="{% static 'assets/js/login-one.js' %}" defer></script>
    <link rel="shortcut icon" href="{% static 'assets/img/logotipo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nanny's Pets</title>
</head>
<body>
    <main class="page-full">
            <div class="register-container">
                <div class="modal">
                    <div class="title-esc">
                        <img src="{% static 'assets/img/logo-one.png' %}" class="logo" alt="">
                    </div>
                    <div class="info">
                        <form method ="POST" action="{% url 'nannypets:cadastro' %}">
                            {% csrf_token %}
                            <label for="email" class="label-email">Email</label>
                            <input type="email" class="text" name="email">
                            <div class="double">
                                <div class="combination">
                                    <label for="username" class="label-double">Nome</label>
                                    <input type="text" class="text" name="username">
                                </div>
                                <div class="combination">
                                    <label for="last_name" class="label-double">Sobrenome</label>
                                    <input type="text" class="text" name="last_name">
                                </div>
                            </div>
                            <div class="double">
                                <div class="combination">
                                    <label for="lcelular" class="label-double">Celular</label>
                                    <input type="number" class="text">
                                </div>
                                <div class="combination">
                                    <label for="senha" class="label-double">Senha</label>
                                    <input type="password" class="text" name="senha">
                                </div>
                            </div>
                            <label for="lsearch">Como você nos conheceu?</label>
                            <select name="know" id="know">
                                <option value="rede-social">Pelas redes socias</option>
                                <option value="friends">Por amigos</option>
                                <option value="pet-shop">Por algum Pet-Shop</option>
                                <option value="other">De outra forma</option>
                            </select>
                            <input type="submit" class="env" value ="CADASTRAR">
                        </form>
                        <div class="apresentation">
                            <h1>Olá,</h1>
                            <h3>Venha fazer parte da família que mais ama seus animaizinhos de estimação</h3>
                            <div class="cat"></div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    
</body>
</html>