{% extends 'base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pets.css' %}"> {% endblock %}

{% block title %}Nanny Pets{% endblock %}

{% block content %}
    <div class="conatiner">
        <h2>Solicitações de hospedagem</h2>
        <ul>
            {% for solicitacaoHospedagem in solicitacao_list %}
        
                {% if solicitacaoHospedagem.pet.foto %}
                    <h3>Foto</h3>
                    <img src="{{solicitacaoHospedagem.pet.foto.url}}" alt="">
                {% endif %}
                
                

                <h3>Dono</h3>
                <li>{{ solicitacaoHospedagem.user.username }}</li>
                
                <h4>Pet</h3>
                <li>{{ solicitacaoHospedagem.pet.nome }}</li>
                <br>
            {% empty %}
                <li>Nenhuma solicitação de hospedagem encontrada</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}