<div class="login-page">
  <div class="login-container">
    <form (ngSubmit)="onSubmit()">
      <h2>Bem vindo(a) à nossa Plataforma!</h2>
      <div>
        <label for="email">Nome de Usuário:</label>
        <input type="text" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
      <button type="submit">Login</button>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
  </div>
</div>
