/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
}
=======
  }
>>>>>>> 9fc74eeffb0b0f50649d41943c2720a3f24d7d30
