
:root {
    /*========== Colors ==========*/
    
    --white: #f4f4f4;
    --pink-strong: #D2657F;
    --text-color-black: #2d2d2d;
    --text-color-gray: #5f5f5f;
    --hover-button: #FF6663;
    --gray: #9AA0A8;
    --blue: #d9e6ff;
    --blue-light: #A9D8B8;
    --container-color: #fff;

    /*========== Font a tipografia ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    
    --body-font: 'DM Sans', sans-serif;
    --h2-font-size: 1.25rem; /*=== 24px ===*/
    --h3-font-size: 1rem; /*=== 16px ===*/
    --normal-font-size: .938rem; /*=== 15px ===*/
    --small-font-size: .813rem; /*=== 14px ===*/
    --smaller-font-size: .75rem; /*=== 12px ===*/
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/*======= Nav-Bar  ========*/

.nav-bar {
    width: 100%;
    height: 105px;
    background: rgba(192, 126, 117, 0.20);
    background-image: url("/static/assets/img/alvan-nee-T-0EW-SEbsE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    filter: contrast(1.0);
    flex-shrink: 0;
    background-position-y: 24%;
    

    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    align-items: center;
}

.nav-bar-logo-perfil {
    width: 100%;
    justify-content: space-between;
    height: auto;
    display: flex;
    flex-direction: row;
}

.logo {
    width: auto;
    height: 40px;
}

.icon-title-perfil {
    border: none;
    display: flex;
    flex-direction: row;
    color: var(--white);
    font-size: var(--h2-font-size);
    text-decoration: none;  
    background: transparent;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 21px;
}

.login-button {
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    height: 21px;
    display: inline-flex;
    align-items: flex-end;
    transition: 300ms linear;
}
.nav-links a:hover{
    transform: scale(1.1);
    
}

.nav-icon {
    height: 21px;
    width: 21px;
    border: none;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}



.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .nav-bar {
        padding: 0 2%;
    }
    .nav-bar-logo-perfil {
        align-items: center;
        height: 100%;
    }
    .icon-title-perfil {
        display: none;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: var(--pink-strong);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animação do Hamburguer com o click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*========= Footer =========*/

.foot {
    width: 100%;
    height: 270px;
    position: relative;
    bottom: 0;
    background-color: var(--blue-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foot-form, .foot-logo-midia {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-form {
    color: var(--text-color-black);
    height: 60%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: var(--small-font-size);
    text-align: center;
}
.foot-form-env-email {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}
.foot-form-env-email input {
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #5F5F5F;
    height: 30px;
    appearance: none;
    text-indent: 10px;
    width: 100%;
}

.foot-form-env-email button {
    width: 90px;
    height: 36px;

    border-radius: 16px;
    border-style: hidden;
    background-color: var(--pink-strong);
    color: var(--white);
    font-size: var(--normal-font-size);
    font-weight: 700;
    outline: 0;
    cursor: pointer;
}
.foot-form-env-email button:hover {
    transition-delay: 200ms;
    background-color: #FF6663;
}

.foot-logo{
    height: 30px;
    width: 128px;
}
.foot-icon-midia{
    height: 20px;
    width: 20px;
}

.box-social {
    height: 35%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box-social hr {
    width: 100%;
    background-color: var(--text-color-black);
    height: 1.5px;
    border: none;
    border-radius: 3px;
}
.foot-social-midia {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
}
.container{
    margin-bottom: 80px;
}