body {
    margin :0;
    padding :0;

    font-family: 'DM Sans', sans-serif;
}
main {
    width: 100%;
    min-height: 100vh;
    background-image: url("/static/assets/img/cat-and-dog.jpg");
    

    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;
    
    filter: contrast(1.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 273px;
    height: 64px;
    margin-bottom: 4%;
}



.register-container {
    display: flex;
    border-style: hidden;
    width: 791px;
    height: 580px;

    background-color: #fafafa;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), 4px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    
    flex-direction: column;
    align-items: center;
}
.modal {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-esc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: space-between;
}
form {
    width: 46%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form label {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #2D2D2D;
}
form input, select {
    box-sizing: border-box;
    height: 35px;
    border: 2px solid #2D2D2D;
    border-radius: 8px;
}
.text {
    text-indent: 10px;
}
.double {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.combination {
    max-width: 120px;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.combination input {
    width: 120px;

}
select {
    background-color: white;
}
.env {
    margin-top: 28px;
    border-style: none;
    background-color: #D2657F;
    border-radius: 16px;
    height: 46px;
    color: #F4F4F4;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    
}
.env:hover {
    transition: ease-out 500ms;
    background-color: #FF6663;
}



.apresentation {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.apresentation h1, h3 {
    color: #2D2D2D;
}
.apresentation h1 {
    margin: 0;
}
.apresentation h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.01em;
}
.cat {
    width: 206px;
    height: 199px;
    background: url("../img/cat.jpg");
    border-radius: 140px;
    background-size: 100%;
    background-position: center; 
}