header{
    background-color: #E9ECEF;
    height: 100px;
}

button{
    position: absolute;
    right: 20px;
    top: 35px;
    float: right;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    background-color: #D2657F;
    position: center;
    color: white;
}

.background-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o contêiner */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 50%;
  }
  
  


