<div class="container">
    <div class="imagem-lateral">
        <img class="imagem1" style= " height: 100vh;position: absolute;left: 0 ;"src="/assets/img/cao2.png" alt="Background Image">
    </div>
<form #f="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite o nome" name="nome" [(ngModel)]="tutor.nome">
    </div>
    <div class="form-group">
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" class="form-control" id="sobrenome" placeholder="Digite o sobrenome" name="sobrenome" [(ngModel)]="tutor.sobrenome" >
    </div>
    <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" class="form-control" id="cpf" placeholder="Digite o cpf" name="cpf" [(ngModel)]="tutor.cpf" >
      </div>
    <div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Digite o email" name="email" [(ngModel)]="tutor.email" >
    </div>    
      <button class="btn btn-primary" (click)="onSubmit(f)">Cadastrar</button>
    </div>
  </form>
</div>

  
            